/* Write CSS Here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	display: flex;

}
.left {
	background-color: rgb(204, 215, 164);
	padding: 25px;

}
.right {
	background-color: rgb(141, 185, 189);
	padding: 25px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education {
	margin-top: 10px;
}
.h2 {   
	background-color: blue;
}

td,th{
	padding: 5px;
	text-align: center;
}

ul{
	padding-left: 30px;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }

  .fa-linkedin {
	background: #007bb5;
	color: white;
  }

  .fa-github{
	background: black;
	color: white;
  }
  ]